{% extends 'page_setup.html' %}

{% block title %}Password reset sent{% endblock %}

{% block content %}
  <div id="password-reset" class="row mt-5">
    <div class="col-4 offset-4">
      <p>
        We have emailed you instructions for resetting your password, if an account exists
        with your email you should receive it directly.
      </p>
      <p>
        If you don't receive an email please verify you typed in the correct email address
        and check your spam folder.
      </p>
    </div>
  </div>
{% endblock %}
