{% extends 'page_setup.html' %}

{% load crispy_forms_tags %}

{% block title %}Password reset confirmation{% endblock %}

{% block content %}
  <div id="password-reset" class="row mt-5">
    <div class="col-4 offset-4">
      {% if validlink %}
        <h2>Choose New Password</h2>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>
      {% else %}
        <p>
          Your password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
