{
  "SECRET_KEY": "vlern49+wx^90cy3(1&s+0%j54d%0k10e9izlrp$jr^2my3_f)",
  "DATABASE_NAME": "dbname",
  "DATABASE_USER": "dbuser",
  "DATABASE_PASSWORD": "dbpass",
  "DATABASE_HOST": "localhost",

  "EMAIL_HOST": "host",
  "EMAIL_HOST_USER": "user",
  "EMAIL_HOST_PASSWORD": "pass",
  "EMAIL_PORT": "587",
  "EMAIL_USE_TLS": "True",
  "DEFAULT_FROM_EMAIL": "me@mydomain.com"
}
