form {
  label {
    font-size: 13px;
    color: $brand-teal;
    text-transform: uppercase;
  }
}

#login {
  form {
    a {
      font-size: 14px;
      color: $brand-teal;
    }
    .btn-link.float-right {
      // right align Forgot Password link
      padding-right: 0px;
    }
  }
}
