{% extends 'page_setup.html' %}

{% block content %}
  <div class="row">
    <div class="col">
      <div>
        <table class="table table-hover table-sm">
          <thead class="thead-default">
            <tr>
              <th>Created</th>
              <th>Client</th>
              <th>City</th>
              <th>State</th>
              <th>Salesperson</th>
            </tr>
          </thead>
          <tbody>
            {% for ticket in tickets %}
              <tr>
                <td>{{ ticket.created_date|date:"DATE_FORMAT" }}</td>
                <td><a href="{% url 'ticket_edit' pk=ticket.pk %}">{{ ticket.client }}</a></td>
                <td>{{ ticket.address_city }}</td>
                <td>{{ ticket.address_state }}</td>
                <td>{{ ticket.salesperson }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
