{% extends 'page_setup.html' %}

{% load misc_tags %}

{% block title %}Ticket List{% endblock %}

{% block content %}
  <div id="ticket-list" class="row">
    <div class="col">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>Updated</th>
            <th>Customer</th>
            <th>Address</th>
            <th>Salesperson</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in object_list %}
            <tr>
              <td>{{ ticket.date_modified|humanizetime }}</td>
              <td><a href="{% url 'ticket-edit' pk=ticket.pk %}">{{ ticket.customer }}</a></td>
              <td>{{ ticket.address }}</td>
              <td>{{ ticket.salesperson }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
